@font-face {
    font-family: inter;
    src: url('../../assets/Fonts/Inter/Inter-Light.otf');
}
@font-face {
    font-family: inter_dark;
    src: url('../../assets/Fonts/Inter/Inter-Bold.otf');
}

#mobile_menu_container{
    /* border: 2px solid black; */
    margin-left: 6vw;
    margin-right: 6vw;
    position: absolute;
    width: 90vw;

}
.nav_options_holder{
    border-radius: 10px;
    font-family: inter;
}

.mobile_tours_design:hover{
    font-family: inter_dark;
    /* font-weight: bolder; */
    font-size: 18px;
}

.menu_items:hover a{
    /* border-bottom: 1px solid black; */
}


@media screen and (min-width:1025px) {
    #mobile_menu_container{
        display: none;
    }
}